[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "vim/bundle/vim-indent-object"]
	path = vim/bundle/vim-indent-object
	url = git://github.com/michaeljsmith/vim-indent-object.git
