.DS_Store
.netrwbook
.netrwhist*

docker/.buildNodeID
docker/.token_seed
docker/.token_seed.lock

git/config.local

helm/repositories*

nvim/lua/mn/local.lua
nvim/lua/mn/lsp/*private.lua
nvim/lua/mn/snips/*private.lua
nvim/plugin/packer_compiled.lua
nvim/spell/
nvim/spell/en.utf-8.add.spl

tmux/plugins

zsh/local.zsh
