snippet hf "http.HandleFunc"
func ${1:handle}(out http.ResponseWriter, req *http.Request) {
	${0:fmt.Fprintf(out, "ohai")}
}
endsnippet

snippet rhf "httprouter.Handle"
func ${1:handle}(out http.ResponseWriter, req *http.Request, params httprouter.Params) {
	${0:fmt.Fprintf(out, "ohai")}
}
endsnippet

snippet rne "require.NoError"
require.NoError(t, err)
endsnippet

# Fmt Printf debug
snippet fa "fmt.Printf(...)"
fmt.Printf("${1:var} = %+v\n", $1)
endsnippet
